*{
    box-sizing: border-box;
}

table{
    width: 100%;
}
table, thead, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: rgb(167, 171, 174);
}

tbody tr:nth-child(even){
    background-color: green;
}

@media screen and (max-width:600px) {
    table, thead, tbody, tr, th, td {
        display: block;
    }
    thead {
        display: none;
    }
    td {
        padding-left: 50%;
    }
    td:nth-child(1){padding-left: 0; text-align: center; background-color: rgb(30, 125, 209);}
    td:nth-child(2)::before{content: "Lunes"; position: absolute; left: 10px;}
    td:nth-child(3)::before{content: "Martes"; position: absolute; left: 10px;}
    td:nth-child(4)::before{content: "Miercoles"; position: absolute; left: 10px;}
    td:nth-child(5)::before{content: "Jueves"; position: absolute; left: 10px;}
    td:nth-child(6)::before{content: "Viernes"; position: absolute; left: 10px;}
}